<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <title>vue-boolzapp</title>
</head>
<body>
  <div id="main_wrapper">
    <div id="app" class='app_container'>

      <div id="contact_bar" class="debug">

        <div class="user_nav debug">

          <div class="user debug">
            <div class="avatar debug"@click='sortContacts'><img :src="userImg" alt=""> </div>
            <div class="name debug"><span>{{userName}}</span></div>
            <div class="options debug">
              <i class="fas fa-circle-notch"></i>
              <i class="fas fa-comment-alt"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>

          <div class="notifications debug">
            <div class="icon"><i class="fas fa-bell-slash"></i></div>
            <div class="link">
              <span>ricevi notifiche di nuovi messaggi</span> <br>
              <a href="#">attiva notifiche desktop</a>
            </div>
          </div>

          <div class="search debug">
            <i class="fas fa-search"></i>
            <input
              id="in_src"
              @keyup="searchingLog"
              v-model="inSearch"
              type="text">
          </div>
        </div>

        <div class="chats_nav debug">
          
          <div class="contact debug"
              v-for="(contact, index) in contacts"
              @click="activeChat(index)"
              :class="{'active' : chatIndex == index},{'none' : !contact.name.toUpperCase().includes(inSearch.toUpperCase())}"         
          >

            <div class="avatar debug"><img :src="contact.avatar" alt=""></div>

            <div class="chat_info debug">
              <div class="chat_name_last_msg debug">
                <h3>{{contact.name}}</h3>
                <span>{{contact.messages[contact.messages.length - 1].message}}</span>
              </div>
              <div class="chat_date debug">
                <span>{{contact.messages[contact.messages.length - 1].date}}</span>
              </div>
            </div>

          </div>

        </div>

      </div>
      
      <div id="main_bar" class="debug">

        <div class="chat_header debug">
          <div class="avatar debug"><img :src="contacts[chatIndex].avatar" alt=""></div>
          <div class="name debug">{{contacts[chatIndex].name}}</div>
          <div class="options debug">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>

        <div class="chat_main debug">

          <div class="msg"
            v-for="(message, index) in contacts[chatIndex].messages"
            @click="toggleCancel(index)"
            :class="{'user_msg' : message.status == 'sent'},{'contact_msg' : message.status == 'received'}">
            
            <span>{{message.message}}</span>
            <span class="hour">{{message.date}}</span>

            <div v-if=" contacts[chatIndex].messages.length >= 2" 
            class="delete" :class="{'active': messageIndex == index}"
            @click="contacts[chatIndex].messages.splice(index,1)"
            >
            cancella messaggio</div>
          </div>

        </div>

        <div class="chat_send debug">
          <div class="emoticon debug"><i class="far fa-smile"></i></div>
          <div class="input_msg debug">
            <input id="in_msg" type="text" placeholder="scrivi un messaggio"
                    @keyup.enter="sendMessage()"
                    v-model="inMessage">
          </div>
          <div class="take_audio debug"><i class="fas fa-microphone"></i></div>
        </div>

      </div>
    </div>
  </div>
  <script src="js/script.js"></script>
</body>
</html>