*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: monospace;
}

.debug{
  /* background-color: rgba(255, 0, 0, 0.253); */
  /* border: 1px solid black; */
}

i{
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.301);
}
i:hover{
  color: rgba(0, 0, 0, 0.705);
}

#main_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 20px 0px;
  background: linear-gradient(0deg, rgb(210,210,210) 0%, rgb(210,210,210) calc(100% - 103px), rgb(0, 150, 136) calc(100% - 100px), rgb(0, 150, 136) 100%); 
}
/* app container ------------------ */
.app_container{
  display: flex;
  width: 85%;
  max-width: 1400px;
  height: calc(100vh - 40px);
  background-color: rgb(228, 220, 212);
  overflow: hidden;
  border-radius: 5px;
}
/* cotact bar ------------------ */
#contact_bar{
  width: 40%;
  height: 100%;
}
.user_nav{
  width: 100%;
  height: 180px;
  background-color: rgb(234, 234, 234);
}
.user_nav .user {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0px 5px;
}
.avatar img {
  width: 100%;
  transform: rotate(0deg);

}
.avatar:hover {
  animation: avatarHover linear 1s infinite;
}
@keyframes  avatarHover {
  0%   {transform: rotate(0deg);}
  35%  {transform: rotate(-20deg);}
  50%  {transform: rotate(0deg); }
  85%  {transform: rotate(20deg); }
  100% {transform: rotate(0deg);}
}

.name {
  display: flex;
  align-items: center;
  width: calc(100% - 150px);
  height: 100%;
  padding-left: 10px;
}
.options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100px;
  height: 100%;
}

.user_nav .notifications {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgb(142, 218, 252);
  overflow: hidden;
}
.user_nav .notifications .icon{
  width: 60px;
  height: 60px;
  margin: 0px 10px;
  border-radius: 50%;
  background-color: azure;
  
}
.user_nav .notifications .link{

}
.user_nav .search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 40px;
}
#in_src{
  width: 90%;
}
/* --------- */
.chats_nav{
  width: 100%;
  height: calc(100% - 180px);
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgb(234, 234, 234);
}
.chats_nav .contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 60px;
  opacity: 0.8;
  background-color: rgb(234, 234, 234);
  cursor: pointer;
}
.chats_nav .contact.active {
  opacity: 1;
  background-color: rgb(210, 210, 210);
}
.chats_nav .contact.none {
  display: none;
}
.chats_nav .chat_info{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: calc(100% - 50px);
  height: 100%;
  padding-top: 10px;
}

.chat_name_last_msg{
  width: calc(100% - 80px - 10px);
  height: 100%;
  margin-right: 5px;
  overflow: hidden;

}
.chat_name_last_msg span {
  color: rgb(146, 146, 146);
}
.chat_date{
  width:80px;
  height: 100%;
  overflow: hidden;
  color: rgb(146, 146, 146);
}

/* main bar ------------------ */
#main_bar{
  width: 60%;
  height: 100%;
}
.chat_header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgb(234, 234, 234);
  border-left: 1px solid rgb(219, 219, 219);
}
.chat_main {  
  position: relative;
  width: 100%;
  height: calc(100% - 130px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 30px 40px;
  background-image: url("/mileston 1/img/mine.jpg");
}
.chat_main .msg{
  position: relative;
  width: 70%;
  max-width: 350px;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  cursor: pointer;
  clip-path: polygon( 0% 0%, 90% 0%,
                      95% 0%, 100% 20%,
                      100% 100%,
                      5% 100%, 0% 80%);                    
}
.chat_main .delete{
  position: absolute;
  top: -0%;
  right: 0%;
  width: 100%;
  height: 20px;
  text-align: center;
  background-color: rgb(255, 0, 0);
  display: none;
}
.chat_main .delete.active {
  display: block;
  cursor: pointer;
}
.chat_main .msg .hour {
  display: block;
  text-align: end;
  color: rgb(104, 104, 104);
  font-size: 0.6rem;
}

.chat_main .user_msg {
  right: -100%;
  transform: translateX(-100%);
  background-color: rgb(96, 219, 92);
}

.chat_main .contact_msg {
  background-color: rgb(199, 199, 199);
}

.chat_send{
  display: flex;
  width: 100%;
  height: 60px; 
  background-color:rgb(243, 238, 234);
}

.chat_send .emoticon{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50px;
  height: 100%;
}
.chat_send .input_msg{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: calc(100% - 100px);
  height: 100%;
}

#in_msg {
  width: 90%;
}

.chat_send .take_audio{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50px;
  height: 100%;
}